.venv/
__pycache__/
airflow.db
airflow-webserver.pid
webserver_config.py
standalone_admin_password.txt
logs/
data/staging/
data/raw/*.orig
.env
mlflow-data/mlflow.db
mlflow-data/mlartifacts/
*.pyc
.DS_Store
